.detail-specialty-container {

    .detail-specialty-body {
        padding-top     : 80px;
        background-image: url(../../../assets/background.png);

        .description-specialty {
            background-color: #fff;

            h1,
            h2,
            h3 {
                font-size: 20px;
            }

            .specialties-section {
                .d-flex {
                    overflow-x                : auto;
                    -webkit-overflow-scrolling: touch;
                    padding-bottom            : 10px;

                    &::-webkit-scrollbar {
                        height: 10px;
                        width : 10px;
                    }

                    &::-webkit-scrollbar-track {
                        background   : #d6ecff;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background   : #9cc9ff;
                        border-radius: 10px;
                        border       : 2px solid #d6ecff;
                    }

                    &::-webkit-scrollbar-thumb:hover {
                        background: #81bafc;
                    }

                    /* Hỗ trợ Firefox */
                    scrollbar-width: thin;
                    scrollbar-color: #9cc9ff #d6ecff;
                }
            }
        }

        .search-doctor {
            margin: 20px 100px 0 100px;

            select {
                height          : 35px;
                padding         : 5px 8px;
                border          : 1px solid #ccc;
                outline         : none;
                border-radius   : 3px;
                cursor          : pointer;
                background-color: #ffffff;
            }
        }

        .list-doctor {
            padding: 10px 0 30px 0;

            .each-doctor {
                display            : flex;
                width              : 100%;
                height             : auto;
                margin             : 15px 0;
                background-color   : #fff;
                // border-bottom   : 1px solid #d3d0d0;

                .detail-content-left {
                    width          : 30%;
                    padding        : 15px;
                    // border-right: 1px solid #f0f0f0;
                }

                .detail-content-right {
                    width  : 70%;
                    padding: 15px;

                    .doctor-schedule {

                        .doctor-schedule-container {
                            border-right: unset !important;
                        }
                    }

                    .doctor-extra-infor {
                        border-top : 1px solid #cccccc;
                        margin-top : 10px;
                        padding-top: 10px;

                        .doctor-extra-infor-container {
                            padding-left: 0 !important;
                        }
                    }
                }
            }
        }
    }

}