@import "../styles/common.scss";

.navigator-menu {
    display         : flex;
    flex-direction  : column;
    margin          : 0;
    padding         : 0;
    list-style      : none;
    width           : 220px;
    min-height      : 100vh;
    background-image: $colormainblue1;
    border          : 1px solid #aad6ff;
    border-top      : none;
    box-shadow      : 2px 2px 5.5px 0px #60acf866;
    color           : rgb(35, 80, 219);
    font-family     : 'Roboto', sans-serif;

    .menu-group {

        .menu-group-name {
            font-size      : 15px;
            font-weight    : 600;
            padding        : 12px 18px;
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            cursor         : pointer;
            transition     : background 0.3s ease;
            color          : $colormain;

            &:hover {
                background: rgba(255, 255, 255, 0.1);
            }

            .dropdown-icon {
                font-size : 13px;
                opacity   : 0.7;
                transition: transform 0.3s ease;
            }

            &.open .dropdown-icon {
                transform: rotate(90deg);
                opacity  : 1;
            }
        }

        .menu-list {
            margin    : 0;
            list-style: none;
            animation : fadeIn 0.3s ease;

            .menu {
                padding      : 8px 15px;
                font-size    : 14px;
                margin       : 5px 15px;
                border       : 1px solid #c8e4ff;
                border-radius: 8px;
                background   : white;

                font-weight: 600;
                color      : rgb(102, 102, 102);

                transition: all 0.2s ease;

                &:hover {
                    background: #eff8ff;
                    color     : $colormain;
                    border    : 1px solid #a2d1fc;
                }

                &.active {
                    margin       : 0px 15px;
                    border       : 1px solid #c8e4ff;
                    border-radius: 8px;
                    background   : $colormainblue2;

                    a {
                        font-weight: 600;
                        color      : white;
                    }
                }

                .menu-link {
                    text-decoration: none;
                    color          : inherit;
                    display        : block;
                    width          : 100%;
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity  : 0;
        transform: translateY(-5px);
    }

    to {
        opacity  : 1;
        transform: translateY(0);
    }
}