@import "../../styles/common.scss";

.header {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    background-color: $colormain;
    width           : 100%;
    height          : auto;
    padding         : 5px 10px 5px 5px;
    box-shadow      : rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    .logo-header {
        background       : url(../../assets/images/logo_system.png);
        background-repeat: no-repeat;
        background-size  : contain;
        height           : 58px;
        width            : 100%;
        cursor           : pointer;
    }

    .languages {
        display    : flex;
        align-items: center;
        color      : #ffffff;

        .welcome {
            margin-right    : 15px;
            white-space     : nowrap;
            background-color: #4783f3;
            padding         : 5px 10px;
            border-radius   : 5px;
        }

        .language-vi {

            span {
                cursor: pointer;
            }

            &.active {
                color           : #fdf90d;
                width           : 30px;
                height          : 30px;
                background-color: #f73a00;
                border-radius   : 50%;
                text-align      : center;
                justify-content : center;
                line-height     : 2.2;
                transition      : all 0.5s;
            }
        }

        .language-en {
            margin-right: 15px;
            margin-left : 10px;

            span {
                cursor: pointer;
            }

            &.active {
                color           : #ffffff;
                width           : 30px;
                height          : 30px;
                background-color: #0fdaf5;
                border-radius   : 50%;
                text-align      : center;
                line-height     : 2.2;
                transition      : all 0.5s;
            }
        }
    }

    .btn-logout {
        color      : $common-text-color;
        line-height: 40px;
        height     : 40px;
        padding    : 0 10px;

        &:hover {
            background-color: darken($colormain, 5);
        }

        i {
            font-size: $base-size + 1px;
        }
    }
}